# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.
# Ignore git directory.
/api/.git/
/api/.gitignore

### Rails ###
# Ignore bundler config.
/api/.bundle

# Ignore all environment files.
/api/.env*

# Ignore all default key files.
/api/config/master.key
/api/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/api/log/*
/api/tmp/*
/api!/log/.keep
/api!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/api/tmp/pids/*
/api!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/api/storage/*
/api!/storage/.keep
/api/tmp/storage/*
/api!/tmp/storage/.keep

# Ignore CI service files.
/api/.github

# Ignore Kamal files.
/api/config/deploy*.yml
/api/.kamal

# Ignore development files
/api/.devcontainer

# Ignore Docker-related files
/api/.dockerignore
/api/Dockerfile*


### Vue ###

### React ###
/client-react/node_modules
/client-react/npm-debug.log
/client-react/Dockerfile
/client-react/.dockerignore
/client-react/.git
/client-react/.gitignore
/client-react/.env